name: Test

on:
  push:
    branches-ignore: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  golden-file-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build service image
        uses: docker/build-push-action@v5
        with:
          context: .
          load: true
          tags: lego-part-renderer-worktree-render-service:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Run golden file tests
        run: docker build -f Dockerfile.test -t lego-test .
